# Python
__pycache__/
*.pyc

# Virtual envs
.venv/
env/

# OS
.DS_Store
Thumbs.db

# Data files
*.csv
*.xlsx
*.parquet

# Archives / build artifacts
*.zip
lambda_package/
lambda_layer/

# Logs
*.log

# Secrets
.env
.aws/